@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&display=swap');

@font-face {
	font-family: 'HelveticaCE';
	src: url('../fonts/HelveticaCE-Bold.eot');
	src: local('☺'), url('../fonts/HelveticaCE-Bold.woff') format('woff'), url('../fonts/HelveticaCE-Bold.ttf') format('truetype'), url('../fonts/HelveticaCE-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Regular';
	src: url('../fonts/Helvetica Regular.eot');
	src: local('☺'), url('../fonts/Helvetica Regular.woff') format('woff'), url('../fonts/Helvetica Regular.ttf') format('truetype'), url('../fonts/Helvetica Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue LTS';
	src: url('../fonts/HelveticaNeueLTStd-Roman.eot');
	src: local('☺'), url('../fonts/HelveticaNeueLTStd-Roman.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-Roman.ttf') format('truetype'), url('../fonts/HelveticaNeueLTStd-Roman.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}