@import "fonts"
@import "vars"
@import "mixins"

//--------------------- basic --------------------------
*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    font-family: $basic__font
    font-size: 1em
    color: $color

ul
    list-style: none

a
    text-decoration: none
    color: $color

header
    background: rgb(225,225,225)
    background: linear-gradient(0deg, rgba(225,225,225,1) 0%, rgba(254,254,254,1) 100%)

.row
    +padding($top: 51px, $right: 0, $bottom: 28px, $left: 0)

.bg
    color: #fff
    background: #000

.active
    color: red
    background: #000

.row
    +padding($top: 100px, $right: 0, $bottom: 100px, $left: 0)

.container
    justify-content: space-between
    width: $width__container
    margin: 0 auto
    padding: 0 20px

.d-flex
    display: flex

.d-grid
    display: grid

.w-100
    width: 100%

.w-80
    width: 80%

.w-70
    width: 70%

.w-60
    width: 60%

.w-50
    width: 50%

.w-40
    width: 40%

.w-33
    width: 33.3%

.w-30
    width: 30%

.w-25
    width: 25%

.w-20
    width: 20%

<<<<<<< HEAD
.c-orange
    color: #ff7700

//------------------ end basic ----------------------

.logo
    +padding(41px, 0, 31px, 0)
    font-family: $font__two
    font-size: 30px

.nav
    height: 100%
    &__list
        height: 100%
        justify-content: space-between
    &__item
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        height: 145px
        border-right: 1px solid $color_border
        &:last-child
            border: 0
        &:hover
            border-bottom: 3px solid $orange
    &__link
        display: block
        padding-top: 10px
        text-align: center
        font-family: $font__three
        font-size: 16px
        &::first-letter
            text-transform: uppercase
=======
.color_two
    color: $color_two
>>>>>>> 1ba214107ee6c06f837a61cdba0436941b2317af

@media screen and ( max-width:  $width__container)
    .container
        width: 100%
