//fonts
$basic__font: 'Bebas Neue', cursive
$font__two: 'Lobster', cursive
$font__three: "Helvetica CE Regular"

//size
$width__container: 1024px

//colors
$color: #545454
$color_border: #cac6c6
$orange: #ff7700
