//fonts
<<<<<<< HEAD
$basic__font: 'Bebas Neue', cursive
$font__two: 'Lobster', cursive
$font__three: "Helvetica CE Regular"

//size
$width__container: 1024px

//colors
$color: #545454
$color_border: #cac6c6
$orange: #ff7700
=======
$basic__font: "Arial"
$title__font: "Arial"
$subtitle__font: "Arial"
$other__font: "Arial"

//size
$width__container: 960px

//colors
$color: #cccccc
$color_two: #cccccc
$bg-color: #cccccc
>>>>>>> 1ba214107ee6c06f837a61cdba0436941b2317af
